.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 80px;
  background: #121829;
  margin-bottom: 80px;
}
.header_container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(20px);
  margin: 0 auto;
}

.right_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn_active {
  gap: 8px;
  padding: 12px 16px;
  align-items: center;
  justify-content: flex-end;
  pad: 12px 16px;
  color: #a8aebf;
}

.right_container button {
  gap: 8px;
  padding: 12px 16px;
  align-items: center;
  justify-content: flex-end;
  pad: 12px 16px;
  color: #a8aebf;
  transition: color 250ms ease-in-out;
}

.right_container button:hover,
.right_container button:hover svg {
  color: white;
  stroke: aliceblue;
}
.right_container svg {
  stroke: #a8aebf;
  transition: stroke 250ms ease-in-out;
}

.right_container .btn_suggest {
  padding: 12px 32px;
  display: flex;
  align-items: center;
}
.title_container h1 {
  color: #ebeef5;
  font-size: 64px;
  font-weight: 600;
  line-height: 125%;
}
.title_container p {
  color: #8e95a9;
  font-size: 16px;
  font-size: normal;
  line-height: 150%;
}

.left_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  align-items: center;
  justify-content: space-between;
  max-height: 40;
  max-width: 40;
  align-items: center;
  justify-content: flex-end;
}
